@font-face {
  font-family: "Goffik";
  src: url(Fonts/goffik-o-webfont.woff);
  font-weight: normal;
}

@font-face {
  font-family: "College-Halo";
  src: url(Fonts/college_halo-webfont.woff);
  font-weight: normal;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  background-color: #2e2c2b;
}

.hero p {
  font-size: 3rem;
  margin: 0;
}

h1 {
  font-family: "College-Halo", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 10rem;
  text-shadow: 0 0 8px #000;
  letter-spacing: 2px;
}

h2 {
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 0 8px black;
}

main {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
  background-image: url("images/hero-blur2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  padding-bottom: 40px;
}

.divider-bar {
  color: #fff;
  background-color: #1abcfe;
  min-height: 7.5rem;
  margin-bottom: 3.125rem;
}

.bar-text {
  color: white;
  font-family: "Goffik";
  font-size: 8rem;
  text-align: center;
  letter-spacing: 4px;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  main {
    width: 100vw;
    gap: 1rem;
    justify-content: flex-start;
    padding-top: 50px;
    min-height: 100%;
  }

  .bar-text {
    font-size: 3rem;
  }

  .divider-bar {
    min-height: 3.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }
}

.container {
  width: 80%;
  max-width: 80vw;
  margin-inline: auto;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}

.site-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
}

.site-title {
  color: #f46c5d;
  font-family: "Roboto Slab";
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.875rem;
  padding: 20px 40px;
}

.site-title a {
  text-decoration: none;
  color: #f46c5d;
}

.site-text {
  color: #f46c5d;
  font-family: Roboto;
  font-size: 1.5rem;
  width: 60rem;
  margin-bottom: 3rem;
  line-height: 1.4;

  /*padding-right: 50px;*/
}

.site-text-box {
  display: flex;
  flex-direction: row;
}

.fill-up-img {
  display: block;
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .site-text-container {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .site-text2 {
    width: 10rem;
    font-size: 1.2rem;
  }

  .site-text-container img {
    width: 50%;
  }
}

/*COMPONENTS - TOOLS*/
.tools {
  display: flex;
  gap: 1.25rem;
  /*margin: 30px 15px;*/
  margin: 30px 15px 40px 15px;
  width: 60rem;
  align-items: flex-end;
}

.tools-text {
  font-family: "College-Halo";
  color: #f46c5d;
  align-self: center;
  margin-left: 3.75rem;
}

.tools-img {
  width: 22rem;
  align-self: flex-start;
}

.hometown-tools .tools-img,
.document-tools .tools-img {
  max-height: 3rem;
  width: 19rem;
}

@media only screen and (max-width: 800px) {
  .tools-img {
    width: 15rem;
  }
}

/*==============================*/

.section-2 {
  display: block;
  margin-top: 80px;
  height: 100%;
  min-height: 100vh;
  background-color: #e4e4e4;
  position: relative;
  margin-bottom: 60px;
  /*z-index: -100;*/
}

.section-2 .container {
  width: 80%;
}

/*laptop image*******/
/*.imgbox1 {
  width: 70rem;
  position: relative;
  top: 100px;
}*/

.imgbox1 {
  width: 70rem;
  display: flex;
  justify-content: center;
}

.imgbox1 img {
  width: 80%;
  position: absolute;
  margin-top: -6rem;
  transform: translate(300px, 50px);
  z-index: 100;
}

@media screen and (max-width: 800px) {
  .section-2 {
    padding-bottom: 50px;
    min-height: 100%;
  }

  .imgbox1 img {
    width: 30rem;
    margin-top: -4rem;
    position: static;
  }
}
/*********************/

/*newsletter image*****/
.imgbox2 {
  width: 31.25rem;
  position: relative;
  top: 160px;
}

.imgbox2 img {
  width: 100%;
  top: 7.125rem;
  position: absolute;
  left: 50px;
  z-index: 50;
} /*********************/

@media only screen and (max-width: 800px) {
  .imgbox2 {
    width: 20rem;
    position: static;
    margin: 0 auto;
    margin-top: -90px;
  }

  .imgbox2 img {
    position: static;
  }
}

.skills {
  width: fit-content;
  transform: translate(37.5rem, 20rem);
  padding: 40px 30px;
  background-color: #f46c5d;
  box-shadow: 2px 2px 4px rgb(37, 37, 37);
}

.skills p {
  font-family: "Roboto Slab";
  font-size: 2rem;
  color: #f8c57e;
  margin-bottom: 0.5em;
  text-shadow: 0 0 4px #000;
}

@media only screen and (max-width: 800px) {
  .skills {
    display: none;
  }
}

.section-2 ul,
.section-2 p {
  color: #fff;
}

.section-2 ul li {
  font-family: "Roboto Slab";
  font-size: 1rem;
  list-style-type: circle;
  margin-left: 1.875rem;
  line-height: 1.3;
}
.primary-btn,
.sm-btn {
  display: inline-block;
  position: relative;
  color: #fff;
  background-color: #f46c5d;
  font-family: "Goffik";
  font-size: 1.4rem;
  margin-right: 15px;
  padding: 15px 25px;
  border: 5px solid #fff;
  text-decoration: none;
}

.section-2 .primary-btn {
  z-index: 200;
  transform: translate(100px, 350px);
}

.primary-btn:hover {
  background-color: #1abcfe;
  color: #000;
}

@media screen and (max-width: 800px) {
  .section-2 .primary-btn {
    transform: translate(2.8rem, 0);
    font-size: 1rem;
    padding: 10px 20px;
  }
}

/*========HOMETOWN SECTION 3===============*/
.section-3 .container {
  padding-top: 50px;
}

p {
  font-size: 1.5rem;
}

.hometown-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 20px;
}

.hometown-img {
  width: 400px;
  height: auto;
}

.section-3 .img-title {
  margin-bottom: 0.5em;
  color: #f46c5d;
}

.ht-color-pallet {
  margin-top: 30px;
}

.section-3b {
  width: 80vw;
  display: flex;
  justify-content: center;
}

.section-3b img {
  margin-top: 40px;
  width: 100%;
  height: 80vh;
  margin-bottom: 150px;
}

.apps-bar {
  margin-top: -50px;
  margin-bottom: 150px;
}
/*.section-3b .primary-btn {
  transform: translate(390px, -170px);
}*/

@media screen and (max-width: 800px) {
  .section-3b .primary-btn {
    transform: translate(170px, -90px);
  }
}

.bar-2-text {
  padding-bottom: 5px;
}

/*======Section 4========*/

.section-4 {
  margin-bottom: 40px;
}

.design-bar {
  margin-top: -125px;
  margin-bottom: 75px;
}

.flex-tools {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

@media screen and (max-width: 800px) {
  .section-4 .tools {
    padding-top: 0;
  }
}

.sm-img-container {
  width: 350px;
  background-color: #f46c5d;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.sec-4-sm-container {
  width: 700px;
  margin-inline: auto;
}

.sm-img {
  width: 80%;
}
.sm-img-container .sm-btn {
  padding: 5px 20px;
  font-size: 1.3rem;
  margin-top: 30px;
  border: solid 4px #fff;
}

.sm-img-container p {
  font-size: 1.2rem;
  font-family: "Roboto Slab";
}

.secondary-bg-color {
  background-color: #ef9c70;
}

.flexrow {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .flexrow {
    flex-direction: column;
    align-items: flex-start;
  }
}

.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mg-bottom {
  margin-bottom: 1rem;
}

.section-4 .text-container {
  width: 700px;
  background-color: #f3905b;
  margin-bottom: 20px;
  margin-inline: auto;
}

.text-container p {
  font-family: "Roboto";
  font-size: 1.5rem;
  padding: 30px;
  line-height: 1.2;
}

@media screen and (max-width: 800px) {
  .sec-4-sm-container {
    width: 350px;
  }

  .section-4 .text-container {
    width: 350px;
  }
}

/*Section-5*/
.section-5 {
  margin-bottom: 80px;
}

.bar-2 {
  margin-top: -200px;
}

.sec-5-sm-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  .sec-5-sm-container {
    flex-direction: column;
    align-items: center;
  }
}

.section-5 img {
  width: 480px;
}

@media screen and (max-width: 800px) {
  .section-5 img {
    width: 350px;
    margin-bottom: 1rem;
  }

  .section-5 .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section-5 .primary-btn {
  border: none;
}

.sec-5-textbox {
  align-self: center;
}

.sec5-mg-bottom {
  margin-bottom: 200px;
}

.site-text2 {
  width: 500px;
  font-family: "Roboto";
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  color: #f46c5d;
}

.site-text5 {
  width: 650px;
  font-family: "Roboto";
  font-size: 1.5rem;
  margin-bottom: rem;
  line-height: 1.2;
  color: #f46c5d;
}

.about-bar {
  margin-top: -150px;
  margin-bottom: 200px;
}

@media screen and (max-width: 800px) {
  .site-text2 {
    width: 350px;
    font-size: 0.8rem;
  }
}

#concepts {
  text-align: center;
  color: #f09768;
}
/*=====Section 6======*/
.section-6 {
  margin-top: -250px;
  display: flex;
  align-items: center;
}

.wrap {
  width: 80%;
  border: 20px solid #0d4358;
  background-color: #f46c5d;
  margin-inline: auto;
  padding: 15px;
}

.section-6 .img-box {
  width: 500px;
  padding: 20px;
}

.section-6 img {
  width: 100%;
}

.section-6 p {
  width: 90%;
  color: #fff;
  font-family: Roboto;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-left: 20px;
  align-self: center;
}

#closing-text {
  width: 60%;
  font-family: Roboto;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.4;
  color: #f15241;
  margin-inline: auto;
  margin-top: -40px;
  margin-bottom: 50px;
}
span {
  font-style: italic;
}

@media screen and (max-width: 800px) {
  .wrap {
    width: 400px;
  }
  .section-6 .img-box {
    width: 400px;
  }
  .section-6 p {
    width: 400px;
    font-size: 0.9rem;
  }
  #closing-text {
    width: 70%;
    font-size: 1.3rem;
    margin-top: 1rem;
    line-height: 1.2;
  }
}
